{% extends 'base.html' %} <!--질문 목록 템플릿 수정 및 base.html을 상속 받았으므로 html 구조를 갖춤-->
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %} <!--질문 목록이 있는지 검사-->
        {% for question in question_list %} <!--질문 목록에 있는 객체를 하나씩 꺼내서 question 객체에 하나씩 넣음-->
        <tr>
            <td>{{ loop.index }}</td> <!--질문이 등록 될 때 마다 index 번호가 하나씩 늘어남-->
            <td>
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td> <!--작성일시-->
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('question.create') }}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}